<div class="main-nav">
    <form method="get" action="/plans/search">
      <table>
        <tr>
          <td colspan="2">
            <input type="search">
          </td>
        </tr>
        <tr>
          <td>
            <select>
              <option>curret plan</option>
              <option>all plans</option>
            </select>
          </td>
          <td>
            <input type="submit" value="serach">
          </td>
        </tr>
      </table>
    </form>
</div>