!!!
%html
  %head
    %meta{:charset=>"utf-8"}
    %title Mipango
    =stylesheet_link_tag "application"
    =javascript_include_tag "mipango"
    =csrf_meta_tags
  %body
    %div.container
      %div{:data=>{"yield"=>"main"}}
:javascript
  Mipango.run()
