<!DOCTYPE html>
<html>
<head>
  <title>Mipango</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "mipango" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div data-view="NavigationView"></div>
  <div data-yield="main"></div>
</div>

<script type="text/javascript">
  Mipango.run();
</script>

</body>
</html>
